@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: 'Playfair Display', serif;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.marquee {
  animation: marquee 20s linear infinite;
}

.open-sans-text {
  font-family: 'Open Sans', sans-serif;
}